{% load static %}
<head>
	<link href="{%static 'compare/style.css'% rel = "stylesheet" type="text/css" }"/>
</head>
<div style="width: 40%; float: left">
	<strong><a href="http://www.spoj.com/users/{{userB}}/">{{userB}}</a> has solved {{listAB|length}} different problems than <a href="http://www.spoj.com/users/{{userA}}/">{{userA}}</a></strong><br>
	<h3>They are: </h3>
	{%for i in listAB%}
		<a href="http://www.spoj.com/problems/{{i}}/">{{i}}</a><br>
	{%endfor%}
</div>
<div style="width: 48%; float: right">
	<strong><a href="http://www.spoj.com/users/{{userA}}/">{{userA}}</a> has solved {{listBA|length}} different problems than <a href="http://www.spoj.com/users/{{userB}}/">{{userB}}</a></strong><br>
	<h3>They are: </h3>
	{%for i in listBA%}
		<a href="http://www.spoj.com/problems/{{i}}/">{{i}}</a><br>
	{%endfor%}
</div>
